<div class="flex justify-between items-center border-b pb-4 mb-6">
  <h1 class="text-2xl font-semibold">Password Manager</h1>
  <div class="ml-auto">
    <%= link_to "New Password", new_password_path, class: "bg-blue-600 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-700 transition" %>
  </div>
</div>

<div class="bg-white rounded-lg shadow p-4">
  <div class="flex flex-col divide-y divide-gray-200">
    <%= render @passwords %>
  </div>
</div>
